body {
    background-color: rgb(4, 6, 7);
  }
  
h1{

    text-align: center;
    color: red;
    font-size: 45px;
    }
h2{
    color:blueviolet;
    font-size: 30px;
}
h3{
    color: rgb(0, 255, 60);
    font-size: 30px;
}
h4{
    color: aqua;
    font-size: 30px;
}
h5{
    color:brown;
    font-size: 30px;
}
h6{
    color:darkgrey;
    font-size: 30px;
}
.parentDiv {  
    display: flex; 
    justify-content: center; 
    align-items: center;
} 